/* Font convert to woff (dafont.com) */
@font-face {
  font-family: 'Great-day';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/great-day-bold-personal-use.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/great-day-bold-personal-use.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Google Font */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('../fonts/ubuntu-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: "Ubuntu", sans-serif;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

// Juste pour dire qu'on a fait une variable css (mais inutile dans du sass)

:root {
  --main-bg-color: #fff;
}

body {
  background: var(--main-bg-color);
}

.custom-logo {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
}
