.header-fixe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background .2s ease;

  h1 {
    font-size: 0;
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  a {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;

    img {
      height: 100%;
      width: auto;
      filter: drop-shadow(0 1px 2px #666);
    }
  }

  .menu {
    overflow: auto;
    position: fixed;
    top:60px;
    left: 0;
    background: $secondary-color;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      flex: 0 1 200px;
      display: flex;
      flex-direction: column;

      li.page_item {
        display: flex;
        justify-content: center;

        &.current_page_item a::after {
          width: 100%;
        }

        a {
          position: relative;
          text-decoration: none;
          color: #fff;
          padding: 10px 20px;

          &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            height: 2px;
            width: 0;
            background: $white-color;
            transition: width .3s ease;
          }

          &:hover::after {
            width: 100%;
            background: rgba($white-color, .8);
          }

          &:focus::after, &:active::after {
            width: 100%;
            background: $white-color;
          }
        }
      }
    }
  }

  &.bg-if-scrolled, &.bg-if-menu-open {
    background: $secondary-color;

    img {
      filter: drop-shadow(0 0px 0px #666);
    }

    .no-logo {
      color: $white-color;
    }

    #burger div, div::before, div::after {
      box-shadow: none;
    }
  }

  #burger {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    margin: 5px 3%;
    padding: 7px 0;
    cursor: pointer;

    &.show {
      div {
        animation: forwards menu_show_center .4s ease-out;

        &::before {
          animation: forwards menu_show_before .4s ease-out;
        }

        &::after {
          animation: forwards menu_show_after .4s ease-out;
        }
      }
    }

    &.hidden {
      div {
        animation: forwards menu_hidden_center .4s ease-out;

        &::before {
          animation: forwards menu_hidden_before .4s ease-out;
        }

        &::after {
          animation: forwards menu_hidden_after .4s ease-out;
        }
      }
    }

    div, div::before, div::after {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      width: 45px;
      background: white;
      height: 5px;
      border-radius: 3px;
      position: relative;
    }

    div::before, div::after {
      content: '';
      position: absolute;
      right: 0;
    }

    div::before {
      top: -15px;
    }

    div::after {
      top: 15px;
    }
  }
}

@keyframes menu_show_before {
  0% {}
  100% {width: 30px; transform: rotate(45deg); right: -4px; top: -9px;}
}

@keyframes menu_show_center {
  0% {}
  100% {transform: rotate(180deg)}
}

@keyframes menu_show_after {
  0% {}
  100% {width: 30px; transform: rotate(-45deg); right: -4px; top: 9px;}
}

@keyframes menu_hidden_before {
  0% {width: 30px; transform: rotate(45deg); right: -4px; top: -9px;}
  100% {width: 45px; transform: rotate(0deg); right: 0px; top: -15px;}
}

@keyframes menu_hidden_center {
  0% {transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}

@keyframes menu_hidden_after {
  0% {width: 30px; transform: rotate(-45deg); right: -4px; top: 9px;}
  100% {width: 45px; transform: rotate(0deg); right: 0px; top: 15px;}
}
