#header-page {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red no-repeat center center/cover;

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px;
    border: 2px solid $white-color;
  }
}


.title-h3 {
  text-align: center;
  h3 {
    font-size: 1.75rem;
    color: $primary-color;
  }

  strong {
    color: $secondary-color;
    position: relative;
    top: -10px;
  }
}
