#header-page {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red no-repeat center center/cover;

  h1 {
    font-family: serif;
    font-size: 2rem;
    color: $primary-color;
    text-transform: uppercase;
    padding: 20px;
    margin: 15px;
    border: 2px solid $white-color;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  }
}


.title-h2 {
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $primary-color;
    font-family: 'Great-day', serif;
    margin-top: 30px;
  }

  strong {
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
    color: $secondary-color;
    position: relative;
    top: -10px;
  }
}

.title-h3 {
  text-align: center;
  background: red;
  padding: 30px 15px 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);

  h3 {
    font-size: 2rem;
    color: $primary-color;
    font-family: 'Great-day', serif;
  }

  strong {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    color: $white-color;
    position: relative;
    top: -10px;
  }
}

ul.term-list {
  display: flex;
  flex-wrap: wrap;
  li {
    &::before {
      content:', ';
    }
    &:first-of-type::before {
      content:'';
    }
  }
}

.no-logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: $secondary-color;
}

.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-thumbnail {
  background: $secondary-color;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 10rem;
  }
}

.list-secondary-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  li {
    margin: 20px;
    flex: 0 1 300px;
    display: flex;
    flex-direction:column;
    align-items: center;
    img {
      height: 100px;
    }
    h4 {
      text-align: center;
    }
  }
}
