.list-recipe {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  li {
    flex: 0 1 500px;
  }

  @media (min-width: 768px  ) {
    li {
      flex: 0 1 50%;
      max-width: 400px;
    }
  }

  .menu-recipe {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    transition: background .3s ease;

    &-content {
      color: $secondary-color;
      width: 100%;

      p {
        font-weight: bold;
      }
    }

    &-price {
      font-size: 2rem;
      color: $primary-color;
    }

    &:hover {
      background: rgba($secondary-color, 0.1);
    }

    &:focus, &:active {
      background: rgba($secondary-color, 0.2);
    }
  }
}
